.loader__food {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #FFF;
  left: 0;
  top: 0;
  z-index: 10000;
  -webkit-animation: loader 3s forwards;
          animation: loader 3s forwards;
}

/*Animation loader*/
@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

.loader__cercle {
  border: 10px solid #F3F3F3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 3s linear forwards;
          animation: spin 3s linear forwards;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*Animation du loader */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

body {
  margin: 0;
  font-family: Roboto sans-serif;
}

header {
  -webkit-box-shadow: 0 0 0.5rem black;
          box-shadow: 0 0 0.5rem black;
  width: 100%;
  min-width: 320px;
  padding: 21px 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.logo img {
  max-width: 168px;
}

footer {
  background-color: #353535;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0px;
  max-width: 100%;
  min-width: 320px;
}

footer h3 {
  margin-left: 40px;
  color: #e6e6e6;
  font-weight: normal;
}

footer a {
  text-decoration: none;
  color: #FFF;
}

footer a:hover {
  text-decoration: underline;
  color: #FFF;
}

footer ul, footer li {
  list-style-type: none;
  margin-bottom: 5px;
}

footer .fas {
  margin-right: 0.7rem;
  width: 20px;
}

footer .footer__logo {
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 5px;
}

h1 {
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
  position: relative;
}

.localisation__icon {
  margin-right: 1rem;
}

.localisation__maps {
  font-weight: 700;
}

.exploration {
  padding: 2rem;
  text-align: center;
  background-color: white;
}

.exploration__titre {
  margin: 0;
}

.exploration__soustitre {
  font-weight: 300;
  margin: 1.5rem 0;
}

.exploration__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  cursor: pointer;
  -webkit-transition-duration: 4s;
          transition-duration: 4s;
  -webkit-box-shadow: 0.25rem 0.25rem 10px #686868;
          box-shadow: 0.25rem 0.25rem 10px #686868;
}

.fonctionnement {
  padding: 2rem 1rem;
  font-weight: bold;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fonctionnement__titre {
  margin: 1rem;
}

.fonctionnement__etape {
  padding: 1rem;
  margin: 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem #808b96;
          box-shadow: 0.25rem 0.25rem 0.5rem #808b96;
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  /*width: 20%;*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 25%;
  height: 25px;
  font-family: 'Roboto', sans-serif;
}

.fonctionnement__etape:hover {
  background-color: #FF79DA;
}

.fonctionnement__etape:hover .fas {
  color: #9356DC;
}

.fonctionnement__etape__number {
  width: 18px;
  height: 18px;
  padding: 5px 4px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFF;
  position: absolute;
  top: 30%;
  left: -4%;
}

.fonctionnement__etape .fas {
  margin-right: 0.5rem;
  color: #7e7e7e;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 1rem;
}

.restaurant__head {
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.restaurant__titre {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-weight: bold;
}

.cartes {
  margin: 0 2rem 2rem 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carte {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
  background-size: 300px;
  margin-top: O;
  /**&__localisation {
        margin: 0;
    }*/
}

.carte__img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.carte__new {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.carte__footer {
  padding: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carte__content {
  float: 1;
}

.carte__titre {
  margin: 0;
  margin-bottom: 0.25rem;
}

.carte__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  font-size: 1rem;
}

@-webkit-keyframes heart__full__opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    background-image: linear-gradient(100deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    opacity: 1;
    background-image: linear-gradient(100deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes heart__full__opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    background-image: linear-gradient(100deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    opacity: 1;
    background-image: linear-gradient(100deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@-webkit-keyframes heart__empty__opacity1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heart__empty__opacity1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.carte__heart {
  position: absolute;
  right: 20px;
  top: 1;
}

.carte__heart__1 {
  position: relative;
}

.carte__heart__1:hover {
  -webkit-animation: heart__empty__opacity1 1s;
          animation: heart__empty__opacity1 1s;
}

.carte__heart__2 {
  position: absolute;
  top: 0px;
  opacity: 0;
  color: #FFF;
}

.carte__heart__2:hover {
  -webkit-animation: heart__full__opacity 1s forwards;
          animation: heart__full__opacity 1s forwards;
}
/*# sourceMappingURL=main.css.map */