body {
  margin: 0;
  font-family: Roboton sans-serif;
}

header {
  padding: 1rem;
  box-shadow: 10px 5px 5px #f2f2f2;
  position: relative;
  z-index: 1000;
}
.header__logo {
  font-family: "shrikhand";
  margin: 0;
  text-align: center;
}

footer {
    background-color: black;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 0px;
    max-width: 100%;
    min-width: 320px
}

.h1 {
  margin: 0.5rem;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
  position: relative;
}
.localisation__icon {
  margin-right: 1rem;
}
.localisation__maps {
  font-weight: 700;
}

.exploration {
  padding: 2rem;
  text-align: center;
  background-color: white;
}
.exploration__titre {
  margin: 0;
}
.exploration__soustitre {
  font-weight: 300;
  margin: 1.5rem 0;
}
.exploration__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(#9356DC, #FF79DA);
  cursor: pointer;
  transition-duration: 4s;
  box-shadow: 0.25rem 0.25rem 10px #686868;
}

.fonctionnement {
  padding: 1rem;
}
.fonctionnement__titre {
  margin-top: 0;
}
.fonctionnement__etapes {
  margin: 1.5rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
}
.fonctionnement__etape {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem #808b96;
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
.fonctionnement__icon {
  margin-right: 1rem;
  color: #7e7e7e;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.restaurant__head {
  max-width: 1280px;
  margin: auto;
  position: relative;
}
.restaurant__titre {
  display: flex;
  font-size: 1.5rem;
  margin: 0.5rem;
  font-weight: bold;
}

.cartes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
@media (min-width: 64rem) {
  .cartes {
    grid-template-columns: repeat(2, 1fr);
  }
}

.carte {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.carte__img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.carte__new {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.carte__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.carte__content {
  float: 1;
}
.carte__titre {
  margin: 0;
  margin-bottom: 0.25rem;
}
.carte__localisation {
  margin: 0;
}
.carte__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carte__like {
  background-color: white;
}

/*

height: 12rem;
      width: 100%;
      border: transparent solid 0px;
      border-radius: 1rem 1rem 0 0;
      box-shadow: none;
      object-fit: cover;
.palettedugout img {
    height: 140px;
    width: 90%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
}

.alafrancaise img{
    height: 140px;
    width: 90%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;

}

.ledelicedessens img{
    height: 140px;
    width: 90%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
}

.lanoteenchantee img{
    height: 140px;
    width: 90%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
}
*/

/*# sourceMappingURL=style.css.map */
